<footer>
        <div class="footer-content">
            <ul>
                <li><a href="#">Política de Privacidade</a></li>
                <li><a href="#">Termos de Uso</a></li>
                <li><a href="#">Sobre Nós</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">FAQ</a></li>
            </ul>
            <p>Copyright 2023 - Download.com.br © - Todos os direitos reservados YG GLOBAL - 47.509.854/0001-61</p>
        </div>
</footer>