<footer>
        <div class="footer-content">
            <ul>
                <li><a href="/politica-de-privacidade">Política de Privacidade</a></li>
                <li><a href="/termos-de-uso">Termos de Uso</a></li>
                <li><a href="/sobre">Sobre Nós</a></li>
                <li><a href="/contato">Contato</a></li>
                <li><a href="/faq">FAQ</a></li>
            </ul>
            <p>Copyright 2023 - Download.com.br © - Todos os direitos reservados YG GLOBAL - 47.509.854/0001-61</p>
        </div>
</footer>