  <!-- Nav -->
  <nav>
    <img src="./files/images/logo.svg" class="logo" alt="Download Video Youtube">
    <a class="mp3" href="https://time-espartanos.github.io/youtube-download/audio.html">
      Converter <span>Youtube</span> para <span>Ãudio</span> MP3
      <img src="./files/images/icone-musica.svg" alt="Download Video Youtube">
    </a>
  </nav>