<header>
    <a href="/{{route}}"><img id="logo" src="/images/pngwing.png" alt=""></a>
    <div>
        <a href="/{{rota}}">Baixe Vídeos em {{format}}!</a>
        <a href="#"><img src="/images/user-3296.png" alt=""></a>
    </div>
</header>
