<article class="info-container">
    <div class="info-content">
        <ul>
            <li><img src="/images/link.png"><p>Cole o link do YouTube e insira-o na caixa de pesquisa.</p></li>
            <li><img src="/images/settings.png"><p>Escolha o formato de download desejado e clique no botão "Converter".</p></li>
            <li><img src="/images/download.png"><p>Aguarde até que a conversão seja finalizada e clique no botão "Baixar".</p></li>
        </ul>
    </div>
    <div class="info-text">
        <div class="text">
            <h4>Melhor Downloader do Youtube 2023</h4>
            <p>O Download.com.br é a escolha certa para quem deseja baixar vídeos do Youtube com facilidade e rapidez. Com nosso site, você pode baixar qualquer vídeo do Youtube em diversos formatos, incluindo MP4, Webm e até mesmo converter o vídeo para mp3, garantindo a melhor qualidade de som.</p>
            <p>Além disso, o nosso site é totalmente gratuito e fácil de usar, sem necessidade de registro ou instalação de softwares adicionais. Não perca mais tempo procurando outros sites para baixar seus vídeos do Youtube, escolha o Download.com.br e tenha acesso a todos os seus vídeos favoritos com apenas alguns cliques.</p>
            <h4>Facilidade de uso:</h4>
            <p>O site é simples e intuitivo, permitindo que qualquer pessoa possa baixar seus vídeos favoritos do Youtube com apenas alguns cliques.</p>
            <h4>Rapidez:</h4>
            <p>O site é projetado para baixar vídeos do Youtube online de forma rápida, sem necessidade de esperar por longos tempos de carregamento.</p>
            <h4>Formatos de vídeo:</h4>
            <p>O site permite baixar vídeos do Youtube online em diversos formatos, incluindo MP4, Webm, m4a, 3gp e até mesmo converter o vídeo para mp3.</p>
        </div>
    </div>
    <div class="info-content">
        <ul>
            <li><img src="/images/time.png"><p>Com o Download.com.br, você pode baixar vídeos do Youtube de maneira rápida e fácil em alguns passos, com alta qualidade em 720p ou 1080p.</p></li>
            <li><img src="/images/video.png"><p>No Download.com.br, é possível converter vídeos do Youtube para MP3 e baixar ilimitados com a melhor velocidade de transferência.</p></li>
            <li><img src="/images/reboot.png"><p>Download.com.br oferece suporte ao conversor de vídeo do YouTube para MP3 e outros formatos, como MP4, WEBM, entre outros.</p></li>
        </ul>
    </div>
</article>