<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="HandheldFriendly" content="true">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

  <title>Download Youtube MP3</title>
  <meta property="og:title" content="Download Youtube MP3">

  <meta name="description" content="Baixe áudios de vídeos do youtube em formato MP3 com poucos cliques de uma forma simples e rápida">
  <meta itemprop="description" content="Baixe áudios de vídeos do youtube em formato MP3 com poucos cliques de uma forma simples e rápida">
  <meta property="og:description" content="Baixe áudios de vídeos do youtube em formato MP3 com poucos cliques de uma forma simples e rápida">

  <meta name="theme-color" content="#2898e0">
  <meta name="msapplication-TileColor" content="#2898e0">
  <meta name="msapplication-navbutton-color" content="#2898e0">
  <meta name="apple-mobile-web-app-status-bar-style" content="#2898e0">

  <link rel="apple-touch-icon" sizes="180x180" href="../../files/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../../files/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="194x194" href="../../files/favicons/favicon-194x194.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../../files/favicons/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../../files/favicons/favicon-16x16.png">
  <link rel="manifest" href="../../files/favicons/site.webmanifest">
  <link rel="mask-icon" href="../../files/favicons/safari-pinned-tab.svg" color="#ff5757">
  <link rel="shortcut icon" href="../../files/favicons/favicon.ico">
  <meta name="msapplication-TileImage" content="./files/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="./files/favicons/browserconfig.xml">

  <meta property="og:locale" content="pt_BR">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1920">
  <meta property="og:image:height" content="1080">
  <meta property="og:type" content="website">
  <meta property="og:card" content="summary_large_image">

  <meta name="image" content="../../files/images/share.png">
  <meta itemprop="image" content="../../files/images/share.png">
  <meta property="og:image" content="../../files/images/share.png">

  <meta name="author" content="Download MP3 Youtube">
  <meta itemprop="name" content="Download MP3 Youtube">
  <meta name="article:author" content="Download MP3 Youtube">
  <meta name="application-name" content="Download MP3 Youtube">
  <meta property="og:site_name" content="Download MP3 Youtube">
  <meta name="apple-mobile-web-app-title" content="Download MP3 Youtube">

  <link rel="canonical" href="https://download.com.br">
  <meta property="og:url" content="https://download.com.br">

  <link href="{{css}}" rel="stylesheet">

</head>
<body class="loadingAparecendo">
    {{{body}}}
</body>
</html>