<style>
    .contato{
        height: 100%;
    }
    .contato h1{
        text-align: center;
        font-size: 19pt;
    }
    .contato a{
        display: flex;
        align-items: center;
        color: #4caf50;
        text-decoration: none;
        font-size: 20pt;
    }
    .contato h2{
        margin-top: 10px;
    }
    .contato img{
        margin-right: 5px;
        width: 30px;
    }
</style>
<div class="contato">
    <h1>Contato:</h1>
    <h2><a href="https://api.whatsapp.com/send?phone=554891632956" target="_blank" rel="noopener noreferrer"><img width="5px" src="/images/whatsapp.png"> Whatsapp</a></h2>
</div>