<h1>TESTE</h1>
<form action="/getlink" method="post">
<label for="url">{{title}}</label>
<input type="text" name="url" id="url">
<select name="qualidade" id="qualidade">
    {{#each qualidades}}
        <option value="{{qualidades}}">itag: {{qualidades}}</option>
    {{/each}}
</select>
<button type="submit">Converter video</button>
</form>