<div class="main-content">
    <h1>Baixe vídeos do YouTube online!</h1>
    <form action="getlink" method="post">
    <div class="search-button">
        <input type="url" placeholder="URL do Vídeo" name="url" id="url" required>
        <button type="submit"><p>Pesquisar</p><img src="/images/procurar.png" alt=""></button>
    </div>
    </form>
    {{#if message}}
        <h3 style="color: red; margin-top: 15px;">{{message}}</h3>
    {{/if}}
</div>