<style>
    .sobre{
        margin: 10px 20%;
        text-align: center;
    }
    .sobre p{
        margin: 1%
    }
    .sobre a button{
        margin: 2%;
        background: #FF0000;
        border-radius: 25px;
        color: #fff;
        border: none;
        font-size: 9pt;
        font-weight: bold;
        width: 200px;
        height: 50px;
    }
    .sobre a button:hover{
        background: #ab0000;
        cursor: pointer;
    }
</style>
<div class="sobre">
    <h2>Sobre Nós</h2>
    <p>Nós somos a equipe por trás do download.com.br, um site inovador e de fácil uso para baixar vídeos do YouTube, Tiktok, Facebook, Instagram etc. Acreditamos que a tecnologia deve ser acessível e fácil de usar para todos, e é por isso que criamos este site. </p>
    <p>Nossa missão é oferecer aos nossos usuários uma experiência rápida e simples para baixar seus vídeos favoritos, sem complicações ou preocupações com segurança. </p>
    <p>Somos uma equipe de especialistas em tecnologia, design e usabilidade, trabalhando juntos para fornecer a melhor experiência de download possível. Nossa equipe é apaixonada por tecnologia e inovação, e estamos sempre procurando maneiras de melhorar e aprimorar nossos serviços. </p>
    <p>Acreditamos que a tecnologia deve ser usada para fazer a vida das pessoas mais fácil e conveniente, e é por isso que trabalhamos incansavelmente para oferecer o melhor serviço de download de vídeos do YouTube.</p>
    <p>Nós nos orgulhamos de ser uma equipe inovadora, dedicada e apaixonada por tecnologia, e esperamos que você experimente a diferença que fazemos. Junte-se a nós na nossa missão de tornar o mundo digital mais acessível e fácil de usar para todos. Baixe seus vídeos favoritos com o download.com.br e sinta a diferença.</p>
    <a href="/contato"><button>Entre em contato!</button></a>
</div>