@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100vh;
    font-family: "Roboto", 'Times New Roman', Times, serif;
    overflow: initial !important;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    align-items: center;
    border-bottom: 2px solid #E6E6E6; 
    margin-bottom: 40px;
}

header img{
    width: 32px;
}

header #logo{
    width: 100px;
}

header div{
    display: flex;
    align-items: center;
}

header div a{
    margin: 0 5px;
}

header div a:nth-child(1){
    color: #000;
}

h1{
    text-align: center;
    font-size: 20pt;

}


.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-button{
    background-color: #fff;
    min-width: 300px;
    width: 50vw;
    max-height: 50px;
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
    border: solid 1px #8D8D8D;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.search-button input{
    width: 76%;
    padding: 7px;
    border-radius: 25px;
    border: 0;
    margin: auto;
}

.search-button button{
    width: 20%;
    height: 47px;
    border-radius: 0 30px 30px 0;
    border: 0;
    background-color: #EBEBEB;
    font-size: 11pt;
    font-weight: bold;
    color: #8D8D8D;
}

.search-button button img{
    display: none;
}

.search-button button:hover{
    filter: brightness(0.9);
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.info-content{
    margin: 30px 0;
}

.info-content ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 97vw;
}

.info-content li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content li p{
    width: 300px;
    font-size: 12pt;
}

.info-content img{
    width: 64px;
    margin: 15px;
}

.info-text{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text{
    width: 80%;
    text-align: center;
    font-size: 11pt;
}

.text h4{
    margin: 10px;
    font-size: 13pt;
}

.download-content{
    margin: 6% 3%;
    display: flex;
    min-width: 60vw;
    height: 350px;
    background-color: #fff;
    border-radius: 25px;
    border: solid 1px #8D8D8D;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
    align-items: center;
    justify-content: center;
}

.downloated-content{
    margin: 6% 3%;
    min-width: 60vw;
    height: 350px;
    background-color: #fff;
    border-radius: 25px;
    border: solid 1px #8D8D8D;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 25%);
    display: grid;
    grid-template-columns: 56% 43%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    justify-items: center;
}

.download-content form{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.downloated-content form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.downloated-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
    grid-area: 1 / 1 / 3 / 2;
}


.download-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.thumbnail{
    border-radius: 25px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 440px;
    max-height: 250px;
}

.download-inputs{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    height: 85%;
}

.downloated-inputs{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: space-evenly;
    height: 85%;
}

.download-inputs label{
    margin-bottom: 5px;
    font-size: 14pt;
    font-weight: bold;
}

.download-inputs select{
    padding: 10px;
    border-radius: 25px;
}

.downloated-inputs button, .download-inputs button{
    width: 100%;
    height: 50px;
    background: #FF0000;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-size: 14pt;
    font-weight: bold;
    margin: 10px 0;
}

.downloated-inputs button:hover, .download-inputs button:hover{
    background: #ab0000;
    cursor: pointer;
}

.downloated-inputs button a{
    text-decoration: none;
    color: #fff;
}

.stars-form {
    display: flex;
    height: 100%;
    grid-area: 2 / 2 / 3 / 3;
    justify-content: center;
    flex-direction: column;
}

.stars-form div{
    display: flex;
    position: relative;
}

.stars-form form{
    display: flex;
    width: 100%;
    height: 60%;
    justify-content: space-between;
}

.stars-form label{
    font-weight: bold;
}

.stars-form input{
    margin: 0 3px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    opacity: 0;
}

.estrelas-estrela{
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.estrelas-estrela{
    cursor: pointer;
}

.c1::before, .c2::before, .c3::before, .c4::before, .c5::before{
    position: absolute;
    top: -2px;
    left: 2px;
    z-index: 0;
}

.c2::before{
    left: 21px;
}

.c3::before{
    left: 40px;
}

.c4::before{
    left: 59px;
}

.c5::before{
    left: 78px;
}

.checked{
    color: rgb(255, 153, 0);
}

#enviar{
    background: #FF0000;
    border-radius: 25px;
    color: #fff;
    border: none;
    font-size: 9pt;
    font-weight: bold;
    width: 50%;
    height: 35%;
}

#enviar:hover{
    background: #ab0000;
    cursor: pointer;
}

.faq-container h1{
    margin: 10px;
}

.dropdown-message p{
    font-size: 11pt;
}

.faq-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dropdown-content{
    width: 80vw;
    background-color: #EBEBEB;
    padding: 10px;
    border-radius: 25px;
    margin: 10px 0;
}

.dropdown-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-header img{
    width: 18px;
    margin: 0 13px;
    transition: 0.7s;
}

.dropdown-message{
    display: none;
}

.rotated{
    rotate: 180deg;
}

.more-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px;
}

.more-content h3{
    margin: 10px 0;
}

.more-content ol{
    width: 90%;
    margin: auto;
    font-size: 11pt;
}

footer{
    width: 100%;
}

.footer-content{
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-top: 2px solid #E6E6E6;
}

.footer-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 10pt;
}

.footer-content ul li{
    display: flex;
    margin: 0 10px;
}

.footer-content ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.footer-content p{
    text-align: center;
    color: #808080;
    font-size: 8pt;
    margin: 0 10px;
}

@media screen and (max-width: 720px){
    .search-button button p{
        display: none;
    }
    
    .search-button button img{
        display: block;
        width: 20px;
        margin: 0 30%;
    }
}
@media screen and (max-width: 425px) {
    header div a:nth-child(1) {
        font-size: 10pt;
    }

    .info-content li{
        width: 100%;
        margin: 10px 0;
    }

    .info-content li p {
        font-size: 11pt;
    }
    
    .download-content{
        height: 425px;
    }

    .downloated-content{
        height: 500px;
    }

    .download-content form{
        flex-direction: column;
    }

    .download-info, .downloated-info {
        width: 100%;
    }

    .thumbnail {
        width: 280px;
        margin-top: 10px;
    }

    .download-info h4, .downloated-info h4{
        text-align: center;
        width: 100%;
    }

    .download-inputs{
        justify-content: space-evenly;
        width: 80%;
    }

    .downloated-inputs{
        height: 100%;
    }

    .downloated-content{
        display: flex;
        flex-direction: column;
    }
    
}