  
  <!-- Loading -->
  <div class="loading audio">
    <div class="circulo">
      <img src="../files/images/audio/icone-logo.svg" alt="Download MP3 Youtube">
      <div class="um"></div>
      <div class="dois"></div>
      <div class="tres"></div>
    </div>
  </div>
  
  <!-- Nav -->
  <nav class="audio">
    <img src="../files/images/audio/logo.svg" class="logo" alt="Download MP3 Youtube">
    <a class="mp3" href="/">
      Converter <span>Youtube</span> para <span>Vídeo</span> MP4
      <img src="../files/images/icone-musica.svg" alt="Download MP3 Youtube">
    </a>
  </nav>

  <!-- Conteúdo -->
  <div class="conteudo">

    <!-- Circulos -->
    <img src="../files/images/audio/circulo.png" class="circulo um" alt="Download MP3 Youtube">
    <img src="../files/images/audio/circulo.png" class="circulo dois" alt="Download MP3 Youtube">

    <!-- Parte Principal -->
    <section class="principal">
      <h2>Converta os vídeos do youtube e baixe o áudio de graça</h2>
      <h1>Baixe o áudio de vídeos do youtube colando o link abaixo. Baixe em MP3 com 64 ou 128kbps.</h1>
      <form action="/pt/audio/formatar" method="post" class="campo">
        <img src="../files/images/icone-link-branco.svg" class="icone" alt="Download MP3 Youtube">
        <button class="converter">
          <img src="../files/images/icone-check.svg">
          <h4>CONVERTER</h4>
        </button>
        <input type="url" spellcheck="false" id="url" name="url" placeholder="https://youtube.com...">
      </form>
      <div class="carregamento">
        <div class="roda um"></div>
        <div class="roda dois"></div>
        <div class="roda tres"></div>
      </div>
      <h1 style="color: red;">{{message}}</h1>
    </section>
  
    <!-- Parte Lateral -->
    <section class="lateral audio">
      <h2>Modo de usar</h2>
      <div class="item">
        <div class="icone">
          <img src="../files/images/audio/icone-link-vermelho.svg" alt="Download MP3 Youtube">
        </div>
        <div class="texto">
          <h3>Cole o link do youtube</h3>
          <p>Basta copiar da URL do navegador ou do botão compartilhar</p>
        </div>
      </div>
      <div class="item">
        <div class="icone">
          <img src="../files/images/audio/icone-ajustes.svg" alt="Download MP3 Youtube">
        </div>
        <div class="texto">
          <h3>Escolha o formato</h3>
          <p>Seleciona o formato que deseja baixar o vídeo que colou</p>
        </div>
      </div>
      <div class="item">
        <div class="icone">
          <img src="../files/images/audio/icone-download.svg" alt="Download MP3 Youtube">
        </div>
        <div class="texto">
          <h3>Baixe com velocidade</h3>
          <p>Após escolher o formato é só esperar um pouco e baixar</p>
        </div>
      </div>
      <div class="logo">
        <img src="../files/images/audio/icone-logo.svg" alt="Download MP3 Youtube">
      </div>
    </section>
  
    <!-- Parte Informações -->
    <section class="informacoes audio">
      <div class="duvidas">
        <h2>Dúvidas frequentes</h2>
        <div class="duvida mostrar">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>Quais formatos de vídeo posso baixar?</h3>
          </div>
          <p>No Download.com.br, você pode baixar vídeos do Youtube em alguns formatos, incluindo MP4, Webm e até mesmo converter o vídeo para mp3.</p>
        </div>
        <div class="duvida">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>É gratuito para fazer as conversões?</h3>
          </div>
          <p>Sim, o Download.com.br é totalmente gratuito e não requer registro ou instalação de softwares adicionais.</p>
        </div>
        <div class="duvida">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>Esse site é seguro?</h3>
          </div>
          <p>Sim, o Download.com.br é seguro e não requer informações pessoais para baixar vídeos do Youtube. Além disso, o site utiliza criptografia SSL para garantir a segurança dos usuários.</p>
        </div>
        <div class="duvida">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>Como posso escolher a qualidade do vídeo baixado?</h3>
          </div>
          <p>No Download.com.br, você pode escolher a qualidade do vídeo baixado antes de iniciar o download, basta selecionar a opção desejada na tela de download.</p>
        </div>
        <div class="duvida">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>O que devo fazer se o download falhar?</h3>
          </div>
          <p>Se o download falhar, você pode tentar novamente em alguns minutos ou entrar em contato com o suporte ao cliente para obter ajuda.</p>
        </div>
        <div class="duvida">
          <div class="pergunta">
            <div class="icone">
              <img src="../files/images/audio/icone-seta.svg" alt="Download MP3 Youtube">
            </div>
            <h3>Existe algum limite para baixar vídeos?</h3>
          </div>
          <p>Não existe nenhum limite para baixar vídeos no Download.com.br, você pode baixar quantos vídeos desejar.</p>
        </div>
      </div>
      <div class="beneficios">
        <div class="item">
          <div class="icone">
            <img src="../files/images/icone-musica.svg" alt="Download MP3 Youtube">
          </div>
          <div class="texto">
            <h3>De graça</h3>
            <p>Aqui você consegue baixar o áudio dos vídeos de graça</p>
          </div>
        </div>
        <div class="item diferente">
          <div class="texto">
            <h3>Converter para MP4</h3>
            <p>Também é possível fazer a conversão do vídeo baixado para MP4</p>
          </div>
          <div class="icone">
            <img src="../files/images/icone-monitor.svg" alt="Download MP3 Youtube">
          </div>
        </div>
        <div class="item">
          <div class="icone">
            <img src="../files/images/icone-documento.svg" alt="Download MP3 Youtube">
          </div>
          <div class="texto">
            <h3>Vários formatos</h3>
            <p>Aqui você consegue baixar o áudio dos vídeos em 64 ou 128kbs</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="copy">
        <img src="../files/images/logo-branco.svg">
        <p>download.com.br 2023. Todos os direitos reservados.</p>
      </div>
      <div class="opcoes">
        <a>Termos de Uso</a>
        <a>Política de Privacidade</a>
        <a>Cookies</a>
      </div>
    </footer>

  </div>

  <!-- JS -->
  <script src="../assets/js/global.js?v=0.1"></script>
  <script src="../assets/js/duvidas.js?v=0.1"></script>
  <script src="../assets/js/loading.js?v=0.1"></script>
  <script src="../assets/js/audio/campo.js?v=0.1"></script>
