/* <section class="principal"> */
section.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  padding: 140px 60px 80px 60px;
  min-height: 50vh;
  z-index: 3;
}
section.principal h2 {
  font-family: var(--bold);
  font-size: clamp(1.2rem, 3vw, 1.5rem);
  color: var(--cor-branco);
  line-height: 1.5;
  width: 100%;
  max-width: 400px;
}
section.principal h1 {
  font-family: var(--regular);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  width: 100%;
  max-width: 500px;
  margin: 15px 0 20px 0;
}
section.principal .carregamento {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 70px;
  width: 70px;
  animation: fadeIn 0.5s linear;
}
section.principal .carregamento .roda {
  position: absolute;
  border-radius: 50%;
}
section.principal .carregamento .roda.um {
  width: 50px;
  height: 50px;
  animation: rodando 1s linear infinite;
  border: 5px solid var(--cor-azul);
  border-top: 5px solid transparent;
}
section.principal .carregamento .roda.dois {
  width: 30px;
  height: 30px;
  animation: rodandoContrario 2s linear infinite;
  border: 2px solid var(--cor-branco);
  border-top: 2px solid transparent;
}
section.principal .carregamento .roda.tres {
  width: 70px;
  height: 70px;
  animation: rodando 3s linear infinite;
  border: 4px solid var(--cor-branco);
  border-top: 4px solid transparent;
}
section.principal.carregando .carregamento {
  display: flex;
}
section.principal.carregando .campo {
  display: none;
}
section.principal .campo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 600px;
  animation: fadeIn 0.5s linear;
}
section.principal .campo img.icone {
  width: 100%;
  max-width: 20px;
  position: absolute;
  left: 20px;
  pointer-events: none;
}
section.principal .campo input {
  font-family: var(--regular);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0);
  padding: 20px 140px 20px 55px;
  border-radius: 10px;
  width: 100%;
  transition: all 0.3s;
}
section.principal .campo input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
section.principal .campo input:focus {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
section.principal .campo input:hover {
  border: 2px solid rgba(255, 255, 255, 0.2);
}
section.principal .campo button {
  background-color: var(--cor-verde);
  border: 3px solid var(--cor-verde);
  box-shadow: 0 5px 20px 0 rgba(51, 194, 94, 0.4);
  padding: 10px 15px;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  transition: all 0.3s;
}
section.principal .campo button h4 {
  font-family: var(--bold);
  font-size: clamp(0.8rem, 3vw, 1rem);
  color: var(--cor-branco);
}
section.principal .campo button img {
  display: none;
  width: 100%;
  max-width: 20px;
}
section.principal .campo button:hover {
  box-shadow: 0 5px 20px 0 rgba(51, 194, 94, 0.9);
  border: 3px solid var(--cor-branco);
}
/* Responsivo */
@media screen and (max-width: 1000px) {
  section.principal {
    width: 100%;
    padding: 100px 20px 50px 20px;
    min-height: auto;
  }
  section.principal .campo input {
    padding: 20px 60px 20px 50px;
  }
  section.principal .campo button {
    padding: 5px;
  }
  section.principal .campo button h4 {
    display: none;
    max-width: 15px;
  }
  section.principal .campo button img {
    display: flex;
    max-width: 20px;
  }
}